<div id="myCarousel" class="carousel slide banner-1" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <!--    <li data-target="#myCarousel" data-slide-to="2"></li>-->
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active"> <img class="first-slide" src="assets/images/banner-1.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption banner1 text-left">
          <h2 class="" style="color: white!important;">Construya una buena relación</h2>
          <h6 style="color: white!important;">A través de estrategias creativas ganamos comunidad que interactúe con tu
            marca y te ayuden a posicionarte en los canales digitales como una marca que inspira a los demás.</h6>
          <p class="hidden-sm-down" style="color: white!important;"><a class="btn btn-md btn-default" href="#"
              role="button" routerLink="/services">Ver Mas!</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item"> <img class="second-slide" src="assets/images/banner-2.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption banner1">
          <h2 class=" " style="color: white!important;">Somos Gente Creativa</h2>
          <h6 style="color: white!important;">Que supera cualquier obstáculo con ideas, estrategia y creatividad.
            Aprendemos y ponemos en práctica cada día nuestra experiencia y sabemos que debemos destacarnos entre los
            demás</h6>
          <p class="hidden-sm-down" style="color: white!important;"><a class="btn btn-md btn-default" href="#"
              role="button" routerLink="/services">Ver Mas!</a></p>
        </div>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span
      class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a
    class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span
      class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
</div>
<section class="section-padding-ash">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-title text-center">
          <h2>Que proporcionamos a nuestros clientes</h2>
          <h6>Entendemos que las marcas deben tener poder y ser capaces de inspirar y enamorar a todos, por eso
            presentamos 4 servicios imprescindibles para tu proyecto o negocio.</h6>
        </div>
      </div>
    </div>

    <services-grid></services-grid>

  </div>
</section>
<section class="section-padding-about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-right-6">
        <div class="text-left">
          <h2>¿Por qué elegirnos?</h2>
          <p>Porque jamás dejamos de mejorar nuestros servicios, incluyendo metodologías de desarrollo, prácticas de
            ingeniería de software, Producimos Soluciones de Diseño y Publicidad y estrategia a la medida de nuestros
            clientes teniendo en cuenta la efectividad de cada proyecto, aseguramos resultados eficaces y
            satisfactorios, usamos técnicas de gestión y controles de calidad para incrementar las capacidades de
            nuestro equipo de trabajo y aumentar la satisfacción del cliente.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-right-6">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="counter-cont">
              <h4><span class="numscroller" data-min="1" data-max="55" data-delay="5" data-increment="4">55</span>+</h4>
              <h6>Clientes</h6>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="counter-cont">
              <h4><span class="numscroller" data-min="1" data-max="580" data-delay="5" data-increment="5">580</span>+
              </h4>
              <h6>Proyectos</h6>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="counter-cont">
              <h4><span class="numscroller" data-min="1" data-max="2720" data-delay="5" data-increment="10">2720</span>+
              </h4>
              <h6>Diseños</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding-ash">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-title text-center">
          <h2>Nuestro Equipo</h2>
          <h6><b>CreatiVista</b> lo conforma un equipo flexible y multidisciplinario conocedor de las técnicas,
            estrategias y
            las nuevas fórmulas de comunicación actual, esto nos permite evaluar los requerimientos específicos de cada
            cliente, creando unidades de trabajo idóneas con profesionales de primer nivel</h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="team-cont"> <img src="assets/images/member/cesar.jpg" class="img-fluid" alt="item 1">
          <div class="text-cont">
            <h5><a href="#">Cesar Henao</a></h5>
            <h6>E-Commerce Manager</h6>
            <p>Especialista en sitios web, funcionalidad y optimización E-Commerce, posicionamiento en redes sociales,
              buscadores web, creación de campañas social media, estrategia e-mailing y comercio electrónico, adquirido
              gran experiencia en campañas Google Ads y Facebook Ads.</p>
            <!-- <a href="#" class="readdmore">Read More <i class="icofont icofont-long-arrow-right"></i></a> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="team-cont"> <img src="assets/images/member/luisa.jpg" class="img-fluid" alt="item 1">
          <div class="text-cont">
            <h5><a href="#">Luisa Hernandez</a></h5>
            <h6>Creative Director</h6>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour, or randomised words</p>
            <!-- <a href="#" class="readdmore">Read More <i class="icofont icofont-long-arrow-right"></i></a> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="team-cont"> <img src="assets/images/member/esteban.jpg" class="img-fluid" alt="item 1">
          <div class="text-cont">
            <h5><a href="#">Esteban Gaviria</a></h5>
            <h6>Frontend Enginer</h6>
            <p>Experiencia en la creación de aplicaciones web que abarcan desde software de productividad del consumidor
              hasta plataformas de operaciones financieras de misión crítica. Amplio conocimiento de las API de
              navegador y JavaScript de front-end, así como una experiencia significativa con marcos y bibliotecas
              populares como React, Angular, Flutter. La profunda experiencia de pila completa incluye Node.js y
              Express, MongoDB, así como tecnologías más tradicionales como HTML, JS CSS SQL.</p>
            <!-- <a href="#" class="readdmore">Read More <i class="icofont icofont-long-arrow-right"></i></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testimonials">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="owl-carousel owl-theme testimonials-cont">

          <div class="item">
            <div class="testimonial-cont">

              <div class="testimonial-client-img aligncenter"><img src="assets/images/member/luisa.jpg"
                  class="rounded-circle" alt="t-2"></div>

              <blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type</blockquote>
              <div class="testimonial-info">

                <div class="testimonial-client">
                  <h6>Alex Jhonson</h6>
                  <p>Designer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-cont">

              <div class="testimonial-client-img aligncenter"><img src="assets/images/member/luisa.jpg"
                  class="rounded-circle" alt="t-2"></div>

              <blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type</blockquote>
              <div class="testimonial-info">

                <div class="testimonial-client">
                  <h6>Alex Jhonson</h6>
                  <p>Designer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-cont">

              <div class="testimonial-client-img aligncenter"><img src="assets/images/member/luisa.jpg"
                  class="rounded-circle" alt="t-2"></div>

              <blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type</blockquote>
              <div class="testimonial-info">

                <div class="testimonial-client">
                  <h6>Alex Jhonson</h6>
                  <p>Designer</p>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

<!--<section class="section-padding">-->
<!--  <div class="container">-->
<!--    <div class="row justify-content-center">-->
<!--      <div class="col-lg-10">-->
<!--        <div class="section-title text-center">-->
<!--          <h2>Our Recent News</h2>-->
<!--          <h6>established fact that a reader will be distracted by the readable content</h6>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">-->
<!--        <div class="blog-post-cont"> <img src="assets/images/post-1.jpeg" class="img-fluid" alt="item 1">-->
<!--          <div class="text-cont">-->
<!--            <h6><a href="#">Nilanjan</a> | <a href="#">January 19, 2017</a></h6>-->
<!--            <h5><a href="#">What is Lorem Ipsum?</a></h5>-->
<!--            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p>-->
<!--            <a href="#" class="readdmore">Read More <i class="icofont icofont-long-arrow-right"></i></a> </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">-->
<!--        <div class="blog-post-cont"> <img src="assets/images/post-2.jpeg" class="img-fluid" alt="item 1">-->
<!--          <div class="text-cont">-->
<!--            <h6><a href="#">Nilanjan</a> | <a href="#">January 19, 2017</a></h6>-->
<!--            <h5><a href="#">Where does it comes from?</a></h5>-->
<!--            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p>-->
<!--            <a href="#" class="readdmore">Read More <i class="icofont icofont-long-arrow-right"></i></a> </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">-->
<!--        <div class="blog-post-cont"> <img src="assets/images/post-3.jpeg" class="img-fluid" alt="item 1">-->
<!--          <div class="text-cont">-->
<!--            <h6><a href="#">Nilanjan</a> | <a href="#">January 19, 2017</a></h6>-->
<!--            <h5><a href="#">What should we do now?</a></h5>-->
<!--            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p>-->
<!--            <a href="#" class="readdmore">Read More <i class="icofont icofont-long-arrow-right"></i></a> </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<section class="section-padding-ash">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-3" *ngFor="let item of logos">
        <div class="clients-cont"><img [src]="item.imgSrc" class="img-fluid" alt="item 1"></div>
      </div>
    </div>
  </div>
</section>