<div id="myCarousel" class="carousel slide banner-2" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active"> <img class="first-slide img-fluid" src="assets/images/page-banner/about.jpg"
        alt="First slide">
      <div class="container">
        <div class="carousel-caption banner1 text-left">
          <h2 class="">Acerca de Nosotros</h2>
          <p class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a> / Acerca de Nosotros</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section-padding-ash">
  <div class="container">
    <div class="row">
      <div class="col-lg-6"><img class="img-fluid abt-img" src="assets/images/about/about.jpg " alt="about-3"></div>
      <div class="col-lg-6">
        <div class="about-3-text">
          <h4>Acerca de Nosotros.</h4>
          <blockquote>El <b>Éxito</b> es la suma de pequeños esfuerzos que se repiten cada dia!</blockquote>
          <div class="text-justify">
            <p><b>CreatiVista</b> es un grupo multidiciplinario especializado en comunicación gráfica, audiovisual y
              creación
              de
              sitios web, que nace con la voluntad de ofrecer el servicio creativo, personalizado y eficaz en un sector
              cada vez más homogéneo y global.</p>
            <p>Nuestra filosofía es proponer siempre soluciones adecuadas a las necesidades de cada cliente,
              contemplando
              el punto óptimo entre costo, rapidez, y eficacia de los resultados.
              Por ello hemos apostado por una estructura que pueda combinar todos los elementos necesarios para mostrar
              de
              la manera más simple los servicios que nuestros clientes demandan.
            </p>
            <p>CreatiVista lo conforma un equipo flexible y multidisciplinario conocedor de las técnicas, estrategias y
              las nuevas fórmulas de comunicación actual, esto nos permite evaluar los requerimientos específicos de
              cada
              cliente, creando unidades de trabajo idóneas con profesionales de primer nivel.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about-caption">
          <h2>Lorem Ipsum is simply dummy text of the <br />
            printing and typesetting industry.</h2>
          <p><a class="btn btn-md btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-accordian">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  Diseño de Páginas o sitios Web administrables optimizados para Google, y su posicionamiento
                </a>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <p>Las sitios Web y Páginas se hacen cada vez más necesarias en el mundo empresarial y comercial su
                  capacidad de globalizar una empresa, idea o producto se esta haciendo cada día mas fuerte es por esto
                  que en creativista te ofrecemos:</p>

                <ul>
                  <li>Diseño de Páginas web basadas en experiencia del usuario.</li>
                  <li>Incorporamos elementos de Neuromarketing en tu sitio Web.</li>
                  <li>Posicionamiento en los primeros lugares de Google (SEO)</li>
                  <li>visibilidad en dispositivos móviles.</li>
                  <li>Mejoramos la visibilidad tu marca.</li>
                </ul>

              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  Where does it comes from?
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  What should we do now?
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>