<div id="myCarousel" class="carousel slide banner-2" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active"> <img class="first-slide img-fluid" src="assets/images/page-banner/portafolio.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption banner1 text-left">
          <h2 class="">Portfolio</h2>
          <p class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a> / Portfolio</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="portfolioFilter text-center"> 
          <a href="#" data-filter="*" class="current">All Categories</a> / 
          <a href="#" data-filter=".banner">Banners</a> / 
          <a href="#" data-filter=".flyer">Flyers</a> / 
          <a href="#" data-filter=".logo">Logos</a> / 
          <a href="#" data-filter=".maquila">Maquila</a> / 
        </div>
        <div class="portfolioContainer">
          <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" [ngClass]="item.classFilter" *ngFor="let item of items">
              <a class="grid magnific-popup" class="info magnific-popup" [href]="item.imgSrc" [ngClass]="item.classFilter">
                <figure class="effect-lily"> <img [src]="item.imgSrc" class="img-fluid custom-img" alt="img01"/>
                  <!-- <figcaption>
                    <h2>{{item.name}}</h2>
                    <p>{{item.description}}</p>
                    <p><a class="info magnific-popup" [href]="item.imgSrc"><b>View Large</b></a></p> </figcaption> -->
                </figure>
              </a>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
