<div id="myCarousel" class="carousel slide banner-2" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active"> <img class="first-slide img-fluid" src="assets/images/page-banner/servicios.jpg"
        alt="First slide">
      <div class="container">
        <div class="carousel-caption banner1 text-left">
          <h2 class="">Servicios</h2>
          <p class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a> / Servicios</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section-padding">
  <div class="container">
    <div class="row">

      <div class="col-md-5 text-rigth">
        <img class="hero-img" src="assets/images/portfolio/38.jpg" alt="">
      </div>

      <div class="col-md-7">
        <h3>Diseño de Páginas o sitios Web administrables optimizadas para Google, y su posicionamiento</h3>

        <p class="text-justify">Las sitios Web y Páginas se hacen cada vez más necesarias en el mundo empresarial y
          comercial su capacidad de
          globalizar una empresa, idea o producto se esta haciendo cada día mas fuerte es por esto que en creativista te
          ofrecemos:</p>

        <ul class="ml-5">
          <li>Diseño de Páginas web basadas en experiencia del usuario.</li>
          <li>Incorporamos elementos de Neuromarketing en tu sitio Web.</li>
          <li>Posicionamiento en los primeros lugares de Google (SEO)</li>
          <li>visibilidad en dispositivos móviles.</li>
          <li>Mejoramos la visibilidad tu marca.</li>
        </ul>
      </div>

    </div>
  </div>
</section>

<section class="section-padding-ash">
  <div class="container">
    <div class="row">

      <div class="col-md-7">
        <h3>Administración de redes sociales</h3>

        <p class="text-justify">Las redes sociales son cada vez una herramienta más poderosa en la interacción con la
          comunidad y clientes
          potenciales, no tener redes sociales es una pérdida importante a la hora de darse a conocer como negocio o
          empresa, tener redes sociales y no usarlas adecuadamente y frecuentemente te puede llevar a perder clientes y
          público en general. es por esto que en creativista te ofrecemos:</p>

        <ul class="ml-5">
          <li>Posicionamiento de segmentación del mercado.</li>
          <li>Destacar tu marca de tus competidores.</li>
          <li>Aumenta tus ganancias.</li>
          <li>Llegar más fácil a un público objetivo.</li>
          <li>Que tu marca llegue a más público.</li>
          <li>Generación de contenido.</li>
          <li>Aumenta tus seguidores.</li>

        </ul>
      </div>

      <div class="col-md-5">
        <img class="hero-img" src="assets/images/banner47.jpg" alt="">
      </div>



    </div>
  </div>
</section>

<section class="section-padding">
  <div class="container">
    <div class="row">

      <div class="col-md-5 text-rigth">
        <img class="hero-img" src="assets/images/portfolio/38.jpg" alt="">
      </div>

      <div class="col-md-7">
        <h3>Diseño de Marca</h3>

        <p class="text-justify">En creativista contamos los mejores y más talentosos diseñadores de la región</p>

        <ul class="ml-5">
          <li>Incorporamos elementos de Neuromarketing.</li>
          <li>Diseño 100% personalizado.</li>
          <li>Manual de identidad corporativa.</li>
          <li>Conecta tu marca con tus clientes.</li>
          <li>Mejoramos la visibilidad tu marca.</li>
          <li>Diseño de logotipos, isotipos e imagotipos.</li>
          <li>Tu marca adaptada a tus necesidades.</li>
        </ul>
      </div>

    </div>
  </div>
</section>

<section class="subscribe">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="subscribe-cont">
          <h2>Subscribe our Newsletter</h2>
          <p>established fact that a reader will be distracted by the readable content Lorem Ipsum is simply dummy text
            of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
          <div class="subscribe-form-cont">
            <form action="#" method="post">
              <input type="text" class="subscribe-txt" placeholder="Subscribe Your mail ID">
              <input type="submit" class="subscribebtn" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding-ash">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-title text-center">
          <h2>Our Affordable Price list</h2>
          <h6>Established fact that a reader will be distracted by the readable content</h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="pricing-cont">
          <h5>Basic</h5>
          <div class="price-amt">
            <h3>$80/ <small>Month</small></h3>
          </div>
          <div class="price-items">
            <p>5 page with Contact Form</p>
            <p>Domain & Hosting</p>
            <p>1 Year Support</p>
            <p>Free SSL</p>
            <p>Free Updates</p>
          </div>
          <div class="text-center price-btn-cont"><a class="btn btn-primary" href="#"> Buy Now </a></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="pricing-cont">
          <h5>Advance</h5>
          <div class="price-amt">
            <h3>$100/ <small>Month</small></h3>
          </div>
          <div class="price-items">
            <p>5 page with Contact Form</p>
            <p>Domain & Hosting</p>
            <p>1 Year Support</p>
            <p>Free SSL</p>
            <p>Free Updates</p>
          </div>
          <div class="text-center price-btn-cont"><a class="btn btn-primary" href="#"> Buy Now </a></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="pricing-cont">
          <h5>Premium</h5>
          <div class="price-amt">
            <h3>$150/ <small>Month</small></h3>
          </div>
          <div class="price-items">
            <p>5 page with Contact Form</p>
            <p>Domain & Hosting</p>
            <p>1 Year Support</p>
            <p>Free SSL</p>
            <p>Free Updates</p>
          </div>
          <div class="text-center price-btn-cont"><a class="btn btn-primary" href="#"> Buy Now </a></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="pricing-cont">
          <h5>Gold</h5>
          <div class="price-amt">
            <h3>$180/ <small>Month</small></h3>
          </div>
          <div class="price-items">
            <p>5 page with Contact Form</p>
            <p>Domain & Hosting</p>
            <p>1 Year Support</p>
            <p>Free SSL</p>
            <p>Free Updates</p>
          </div>
          <div class="text-center price-btn-cont"><a class="btn btn-primary" href="#"> Buy Now </a></div>
        </div>
      </div>
    </div>
  </div>
</section>