<div class="row">
  <div class=" col-md-6 col-sm-12 col-xs-12">
    <div class="services-cont">
      <div class="icon-cont mr-3">
        <!-- <i class="icofont icofont-paint"></i> -->
        <img src="assets/svg/svg1.svg" alt="">
      </div>
      <div class="text-cont">
        <h6>Diseño Web </h6>
        <p>Creamos sitios web con alta funcionalidad, diseño y adaptables a cualquier dispositivo para que tus clientes
          tengan una experiencia web única.</p>
      </div>
    </div>
  </div>
  <div class=" col-md-6 col-sm-12 col-xs-12 ">
    <div class="services-cont">
      <div class="icon-cont mr-3">
        <img src="assets/svg/svg2.svg" alt="">
        <!-- <i class="icofont icofont-code-alt"></i> -->
      </div>
      <div class="text-cont">
        <h6>Imagen Corporativa - Branding </h6>
        <p>Las marcas deben contar siempre una buena historia, más allá de la creación de un logo, creemos que el
          verdadero valor, es poder y ser capaces de inspirar y enamorar a todos con tu marca.</p>
      </div>
    </div>
  </div>
  <div class=" col-md-6 col-sm-12 col-xs-12">
    <div class="services-cont">
      <div class="icon-cont mr-3">
        <!-- <i class="icofont icofont-dashboard-web"></i> -->
        <img src="assets/svg/svg3.svg" alt="">
      </div>
      <div class="text-cont">
        <h6>Marketing Digital - Seo</h6>
        <p>Creamos ideas que conectan tu marca con tu público, posicionamos, medimos y aprovechamos los datos para
          destacar tu empresa o marca en la web.</p>
      </div>
    </div>
  </div>
  <div class=" col-md-6 col-sm-12 col-xs-12">
    <div class="services-cont">
      <div class="icon-cont mr-3">
        <img src="assets/svg/svg4.svg" alt="">
        <!-- <i class="icofont icofont-brand-android-robot"></i> -->
      </div>
      <div class="text-cont">
        <h6>Redes Sociales</h6>
        <p>Las redes sociales son el lugar donde están tus clientes y ahí debes estar, creamos comunidades con audiencias reales, que interactúan y se conectan con tu marca.</p>
      </div>
    </div>
  </div>
  <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="services-cont">
        <div class="icon-cont"><i class="icofont icofont-iphone"></i></div>
        <div class="text-cont">
          <h6>iPhone Development</h6>
          <p>It is a long established fact that a reader will be distracted by the</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="services-cont">
        <div class="icon-cont"><i class="icofont icofont-video-clapper"></i></div>
        <div class="text-cont">
          <h6>Online Training</h6>
          <p>It is a long established fact that a reader will be distracted by the</p>
        </div>
      </div>
    </div> -->
</div>