<nav class="navbar navbar-expand-md btco-hover-menu navbar-1">
  <div class="container"> <a class="navbar-brand" routerLink="/home1"><img src="assets/images/logo-1.png" class="img-fluid" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Home </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/home1">Home 1</a></li>
            <li><a class="dropdown-item" routerLink="/home2">Home 2</a></li>
          </ul>
        </li> -->
        <li class="nav-item"> <a class="nav-link" routerLink="/home1">Inicio</a> </li>

        <li class="nav-item"> <a class="nav-link" routerLink="/about" style="text-transform: none;">Acerca de Nosotros</a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="/services">Servicios</a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="/portfolio">Portafolio</a> </li>
        <!-- <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Blog </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/bloglist">Blog List</a></li>
            <li><a class="dropdown-item" routerLink="/blogdetails">Blog Details</a></li>
          </ul>
        </li> -->
        <li class="nav-item"> <a class="nav-link" routerLink="/contact">Ubicación</a> </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link btn btn-primary" href="#"> Contáctenos </a></li>
        <!-- <li class="nav-item"> <a class="nav-link" id="addClass" href="#"> <i class="icofont icofont-search-alt-1"></i> </a></li> -->
      </ul>
    </div>
  </div>
</nav>
