<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-item">
                    <img class="img-fluid" src="assets/images/logo-1.png" alt="logo-2">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text
                        <br />ever since the 1500s</p>

                </div>
                <div class="footer-item">
                    <ul class="social">
                        <!-- <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li> -->
                        <!-- <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li> -->
                        <!-- <li><a href="#"><i class="icofont icofont-social-linkedin"></i></a></li> -->
                        <!-- <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li> -->
                        <!-- <li><a href="#"><i class="icofont icofont-social-dribble"></i></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-item">
                    <h4>Accesos Rapidos</h4>
                    <ul>
                        <!-- <li><a routerLink=['/home1']>Inicio</a></li>
                        <li><a routerLink=['/home1']>Acerca de Nosotros</a></li>
                        <li><a routerLink=['/home1']>Servicios</a></li>
                        <li><a routerLink=['/home1']>Portafolio</a></li>
                        <li><a routerLink=['/home1']>Contacto</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-item">
                    <h4>Categories</h4>
                    <ul>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">Online Marketing</a></li>
                        <li><a href="#">App Design</a></li>
                        <li><a href="#">App Development</a></li>
                        <li><a href="#">Online Training</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="footer-item">
                    <h4>Recent Posts</h4>
                    <ul>
                        <li><a href="#">What is Lorem Ipsum?</a></li>
                        <li><a href="#">Why do we use it?</a></li>
                        <li><a href="#">There are many variations</a></li>
                        <li><a href="#">passages of Lorem Ipsum</a></li>
                        <li><a href="#">Contrary to popular</a></li>
                        <li><a href="#">Lorem Ipsum is not simply</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-bottom">
                    <p>Copyright © 2020. All Rights Reserved V1.0.1</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="qnimate" class="off">
    <div id="search" class="open">
        <button data-widget="remove" id="removeClass" class="close" type="button">×</button>
        <form action="#" method="post" autocomplete="off">
            <input type="text" placeholder="Type search keywords here" value="" name="term" id="term">
            <button class="btn btn-primary btn-xl" type="submit"><span class="glyphicon glyphicon-search"></span>
                Search</button>
        </form>
    </div>
</div>